/************************ LoginDialog ************************/
LoginDialog{
    background-image:url(":/backgrounds/backgrounds/PassPic5.jpg");
}
LoginDialog QWidget.mainWidget{
    background-color:rgba(40,40,40,0.8);
    border:1px solid rgba(240,240,100,0.8);
    border-radius:3px;
}
LoginDialog QWidget.middleWidget{
    background-color:rgba(64,64,64,0.8);
}
LoginDialog QLineEdit{
    border:1px solid #3daee9;
    padding:5px;
    background-color:#212121;
    font-size:13px;
    border-radius:3px;
    color:rgb(240,240,240);
}
QLabel.errorLabel{
    color:red;
}
LoginDialog QLabel{
    color:rgb(240,240,240);
}
LoginDialog QPushButton{
    background-color:#313131;
    border:5px solid rgb(65,87,140);
    border-radius:5px;
    font-weight:bold;
    color:rgb(200,200,200);
    padding:5px;
    font-size:16px;
}
LoginDialog QPushButton::hover{
    background-color:rgb(65,87,140);
    color:rgb(230,230,230);
}
LoginDialog QPushButton::pressed{
    background-color:orange;
    border:none;
}
LoginDialog QCheckBox{
    color:rgb(240,240,240);
}
LoginDialog QCheckBox::indicator {
    width:  22px;
    height: 22px;
}
LoginDialog QCheckBox::indicator:checked{
    image: url(":/icons/check.png");
}
LoginDialog QCheckBox::indicator:!checked{
    image: url(":/icons/multiply.png");
}
/************************ MainWindow ************************/
MainWindow {
    background-color:rgb(40,40,40);
}
QToolButton.mainButton{
    border:none;
    background-color:rgb(67,71,84);
    color:#74767c;
    font:12pt "Calibri";
    font-weight:bold;
    padding:5px;
}
QToolButton.mainButton:hover{
    border:none;
    color:#74767c;
    font:12pt "Calibri";
    font-weight:bold;
    border-left:3px solid #3663fe;
    background-color:qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(120, 120, 254, 100) ,stop:1 rgba(120, 120, 254, 0));

}
QToolButton.mainButton:checked{
    background-color:rgb(120,120,254);
    color:#44464c;
    font-weight:bold;
    border-left:3px solid #3663fe;
    border-right:5px solid rgb(40,40,40);
}
QToolButton.exitButton{
    border:none;
    background-color:rgb(67,71,84);
    color:#74767c;
    font:12pt "Calibri";
    padding:5px;
}
QToolButton.exitButton:pressed{
    background-color:rgb(120, 120, 254);
    color:#44464c;
}

QLabel.headerLabel{
    color:rgb(240,240,240);
    border:4px dashed #3daee9;
    border-radius:5px;
    padding:6px;
}
QWidget.topWidget{
    background-color:rgb(30,30,30);
}
QWidget.buttonWidget{
background-color:rgb(50,50,50);

}
QWidget.timeWidget{
    border:1px solid rgb(100,100,190);
    border-radius:2px;
    background-color:rgb(70,70,70);
}
QLabel.timeLabel{
    color:white;
}
QToolButton.simpleIcon{
    background-color:none;
    border:none;
}
QWidget.signedInUserWidget{
    background-color:rgb(70,70,70);

}

QWidget.hintLabel{
    color:yellow;
}
QLabel.userInfoLabel{
    color:rgb(240,240,240);
}
QLabel.FixedLabels{
    color:rgb(160,160,250);
    font:14pt "Lucida Bright";
    font-weight:bold;
}
QLineEdit.searchLineEdit{
    border:none;
    padding:5px;
    background-color:#111111;
    font-size:10pt;

    color:rgb(100,100,200);
}
QToolButton.searchIcon{
    background-color:#111111;
    border:none;
    padding:5px;
}
QToolButton.NewPassword{
    background-color:none;
    border:4px solid rgb(100,100,180);
    font:12pt "Lucida Bright";
    border-radius:5px;
    color:rgb(160,160,250);
    padding:5px;
}

/******************************* QTableView *******************************/

QTableView{
    background-color:rgb(17,17,17);
    border:none;
    color:white;
}
QTableView::item:hover{
    background-color:rgb(120,120,160);
}
QTableView::item:selected{
    background-color:rgb(40,40,40);
    color:white;
/*    border:1px solid blue;*/
}
/******************************* QHeaderView *******************************/
QHeaderView{
    background-color:transparent;
    min-height:40px;
    font-weight:bold;
    font:14pt "Lucida Bright";
    border:none;
    border-radius:3px;
}
QHeaderView::section{
    background-color:rgb(150,150,255);
    border:none;
    color:rgb(240,240,240);
}

.EditMode{
    background-color:rgb(30,30,30);
    color:rgb(220,220,220);
/*    border:1px solid blue;*/
}
/******************************* Database Dialog *******************************/
DataBasePassewordSetter{
    background-color:rgba(40,40,40,0.8);
    border:1px solid rgba(240,240,100,0.8);
    border-radius:3px;
}
DataBasePassewordSetter QLineEdit{
    border:1px solid #3daee9;
    padding:5px;
    background-color:#212121;
    font-size:13px;
    border-radius:3px;
    color:rgb(240,240,240);
}
DataBasePassewordSetter QLabel.errorLabel{
    color:red;
}
DataBasePassewordSetter QLabel{
    color:rgb(240,240,240);

}
DataBasePassewordSetter QPushButton{
    background-color:#313131;
    border:1px solid rgb(65,87,140);
    border-radius:5px;
    font-weight:bold;
    color:rgb(200,200,200);
    padding:5px;
    font-size:16px;
}
DataBasePassewordSetter QPushButton::hover{
    background-color:rgb(65,87,140);
    color:rgb(230,230,230);
}
DataBasePassewordSetter QPushButton::pressed{
    background-color:orange;
    border:none;
}






